<%= simple_form_for(@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :body, as: :wysihtml5, wysihtml5: { toolbar: { blockquote: false, html: true, color: true } } %>
  <%= f.button :submit, class: 'btn-primary' %>
  <span class="btn btn-info fileinput-button pull-right">
    <i class="glyphicon glyphicon-plus"></i>
    <span id="upload-status">Upload image...</span>
    <input id="fileupload" type="file" name="file" data-url="/images">
  </span>
<% end %>
