<div class="page-header">
  <h1>
    Editing Post 
    <%= link_to posts_path, class: 'btn btn-warning btn-lg pull-right' do %>
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Back
    <% end %>
    <%= link_to 'Show', @post, class: 'btn btn-info btn-lg pull-right' %>
  </h1>
</div>

<%= render 'form' %>
