<h1>Listing Posts</h1>

<div class="infinite-table">
  <table id="posts" class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody class="page">
      <% cache(cache_key_for_posts) do %>
        <%= render @posts %>
      <% end %>
    </tbody>
  </table>
  
  <p class="pagination">
    <%= link_to_next_page(@posts, 'Next Page', remote: true, params: {q: params[:q]}) %>
  </p>
</div>
